/** @format */

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
@layer components {
  .btn-purple-glow {
    @apply relative overflow-hidden bg-[#312244] transition-all active:scale-95 disabled:opacity-50;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.navbar-wrapper::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -2;
  background: black;
}

@keyframes floatSoft {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}

header {
  animation: floatSoft 3s ease-in-out infinite;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
}
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* @keyframes FadeIn {
 from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(60px);
  animation: fadeUp 0.9s ease-out forwards;
}

.animate-on-scroll:nth-child(1) {
  animation-delay: 0.1s;
}
.animate-on-scroll:nth-child(2) {
  animation-delay: 0.2s;
}
.animate-on-scroll:nth-child(3) {
  animation-delay: 0.3s;
}
.animate-on-scroll:nth-child(4) {
  animation-delay: 0.4s;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-bg {
  background: linear-gradient(-45deg, #0b132b, #010206, #1a0b2e, #051a1a);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}
